### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

.DS_Store
history/
releases/
Bamboohub-database/
Bamboohub-frontend-old
nginx-config/
upload.sh